! X colors.

*background:	#1E2541
*foreground:	#EEFFFF
*cursorColor:	#EEFFFF
*color0:	#1E2541
*color1:	#F0719B
*color2:	#5AF7B0
*color3:	#FFA56B
*color4:	#57C7FF
*color5:	#C792EA
*color6:	#89DDFF
*color7:	#EEFFFF
*color8:	#354274
*color9:	#F02E6E
*color10:	#2CE592
*color11:	#FF8537
*color12:	#1DA0E2
*color13:	#A742EA
*color14:	#47BAE8
*color15:	#DEE6E7
*color16:	#2A335A

! Xclock colors.
XClock*foreground: #85c2e0
XClock*background: #0b0d09
XClock*majorColor:  rgba:85/c2/e0/ff
XClock*minorColor:  rgba:85/c2/e0/ff
XClock*hourColor:   rgba:85/c2/e0/ff
XClock*minuteColor: rgba:85/c2/e0/ff
XClock*secondColor: rgba:85/c2/e0/ff

! Set depth to make transparency work.
URxvt*depth: 32

URxvt.font: xft:IBM 3270:size=14
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
