*foreground:        #98add4
*background:        #1e1b1e
*cursorColor: #c5c8c6

*.color0: #1e1b1e
*color0:  #1e1b1e
*.color1: #DC8C2B
*color1:  #DC8C2B
*.color2: #E09D68
*color2:  #E09D68
*.color3: #30518B
*color3:  #30518B
*.color4: #375EA3
*color4:  #375EA3
*.color5: #3B65AD
*color5:  #3B65AD
*.color6: #5B6795
*color6:  #5B6795
*.color7: #98add4
*color7:  #98add4
*.color8: #6a7994
*color8:  #6a7994
*.color9: #DC8C2B
*color9:  #DC8C2B
*.color10: #E09D68
*color10:  #E09D68
*.color11: #30518B
*color11:  #30518B
*.color12: #375EA3
*color12:  #375EA3
*.color13: #3B65AD
*color13:  #3B65AD
*.color14: #5B6795
*color14:  #5B6795
*.color15: #98add4
*color15:  #98add4

URxvt.font: xft:IBM 3270:size=13
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

rofi.color-enabled: true
rofi.color-window: #1e1e20, #dc7f41, #dc7f41
rofi.color-normal: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #dc7f41
rofi.color-active: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #dc7f41
rofi.color-urgent: #1e1e20, #c5c8c6, #1e1e20, #1e1e20, #dc7f41

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
