[colors]
foreground      = #85c2e0
background      = #0B0D09
red = #e5514d
yellow  = #e4ec71
green  = #59f68d
blue = #57C7FF
;cyan  = #9AEDFE
magenta = #FF6AC1
white = #F1F1F0

[bar/bar]
width = 100%
height = 25
radius = 0
fixed-center = true

background = ${colors.background}
foreground = ${colors.background}

line-size = 0
line-color =

border-size = 
border-bottom-size = 0
;border-bottom-size = 5
border-color = ${colors.background}

padding-left = 0
padding-right = 0

;module-margin-left = 1
;module-margin-right = 2

font-0 = "IBM 3270:size = 10;1"
;font-0 = "Source Code Pro Semibold:size=10;2"
font-1 = "Font Awesome 5 Free:style=Solid:size=10;1"
font-2 = "Font Awesome 5 Brands:size=10;1"
font-3 = "Noto Sans CJK JP:size=10:antialias=true;0"


modules-left = i3 spotify 
modules-center = xwindow
modules-right = wireless-network volume battery weather date

;tray-position = right
;tray-padding = 0
;tray-transparent = true

cursor-click = pointer
cursor-scroll = ns-resize

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false
;format-padding = 1

;ws-icon-0 = 1;
;ws-icon-1 = 2;
;ws-icon-2 = 3;
;ws-icon-3 = 4;
;ws-icon-4 = 5;
;ws-icon-5 = 6;
;ws-icon-6 = 7;
;ws-icon-7 = 8;
;ws-icon-8 = 9;
;ws-icon-default = 

ws-icon-0 = 1;一
ws-icon-1 = 2;二
ws-icon-2 = 3;三
ws-icon-3 = 4;四
ws-icon-4 = 5;五
ws-icon-5 = 6;六
ws-icon-6 = 7;七
ws-icon-7 = 8;八
ws-icon-8 = 9;九
ws-icon-default = 十

label-mode-padding = 1
label-mode-foreground = ${colors.green}
;label-mode-background = ${colors.background}

label-focused = %icon%
label-focused-background = ${colors.green}
label-focused-foreground = ${colors.background}
label-focused-padding = 1

label-unfocused = %icon%
label-unfocused-background = ${colors.background}
label-unfocused-foreground = ${colors.green}
label-unfocused-padding = 1

label-visible-focused = %icon%
label-visible-background = ${colors.background}
label-visible-foreground = ${colors.green}
label-visible-padding = 1

label-urgent-focused = %icon%
label-urgent-background = ${colors.red}
label-urgent-foreground = ${colors.background}
label-urgent-padding = 1

[module/wireless-network]
type = internal/network
interface = wlp2s0
interval = 3.0
format-foreground = ${colors.background}
format-background = ${colors.yellow}

format-connected-prefix =
format-connected = "<ramp-signal><label-connected> "
;format-connected-underline = #9f78e1
label-connected =
format-connected-foreground = ${colors.background}
format-connected-background = ${colors.yellow}

format-disconnected = "no wifi :( "
format-disconnected-foreground = ${colors.background}
format-disconnected-background = ${colors.yellow}

ramp-signal-0 = "   0%"
ramp-signal-1 = "   25%"
ramp-signal-2 = "   50%"
ramp-signal-3 = "   75%"
ramp-signal-4 = "   100%"

[module/wlan]
type = custom/script
label= %output%
exec=echo " $(iw dev wlp2s0 link | grep SSID | cut -d " " -f 2-) "
;format-background = ${colors.background}
format-foreground = ${colors.red}
interval=60
format-padding = 1

[module/bandwidth]
type = custom/script
label = " %output% "
exec=~/.i3/scripts/bandwidth
interval=1
format-foreground = ${colors.red}
;format-foreground = ${colors.background}
format-padding = 1

;[module/volume]
;type = custom/script
;label =  %output%
;exec=~/.i3/scripts/volume
;interval = 60
;format-padding = 1
;format-foreground = ${colors.background}
;format-background = ${colors.yellow}

[module/volume]
type = internal/pulseaudio

format-muted-background = ${colors.red}
format-volume-background = ${colors.yellow}
format-volume = " <ramp-volume> <label-volume> "
format-volume-prefix = " "
label-muted = "   "

; Only applies if <ramp-volume> is used
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

[module/weather]
;Display Weather. Change 'arlington'/'nashik' to where you live
type=custom/script
label=%output%
exec=~/.i3/scripts/weather.sh nashik
interval=1800
format-foreground = ${colors.background}
format-background = ${colors.red}
format-padding = 1

;[module/battery]
;Display battery percentage. It's a i3blocks module...just so you know...
;type = custom/script
;label =  %output%
;exec=~/.i3/scripts/battery
;interval=12
;format-foreground = ${colors.background}
;format-background = ${colors.yellow}
;format-padding = 1

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 95
format-padding = 1

format-charging-background = ${colors.green}
format-charging-foreground = ${colors.background}
format-charging = "⁣ <animation-charging> <label-charging> "

format-charging-suffix = 

format-discharging-background = ${colors.yellow}
format-discharging-foreground = ${colors.background}
format-discharging = "⁣ <ramp-capacity> <label-discharging> "

format-discharging-suffix = 

format-full = " <ramp-capacity> <label-full> "
format-full-background = ${colors.magenta}
format-full-foreground = ${colors.white}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

ramp-capacity-0-foreground = ${colors.red}
ramp-capacity-foreground = ${colors.background}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = ${colors.background}
animation-charging-framerate = 750

[module/date]
type = internal/date
interval = 10

date =
date-alt = " %Y-%m-%d "

time = " %a %b %d  %I:%M %p "
time-alt = "%H:%M:%S "

format-prefix = 
format-foreground = ${colors.background}
format-background = ${colors.red}
format-padding = 0

label = %date% %time%

[module/spotify]
type=custom/script
label= %output:0:30:...%
exec=spotifycli --status
interval=2
;interval=20
format-foreground = ${colors.background}
format-background = ${colors.green}
format-padding = 1
click-left = spotifycli --prev
click-middle = spotifycli --playpause
click-right = spotifycli --next

[module/backlight]
type = internal/backlight
label =  %percentage%%
card = intel_backlight
format =  <label> 
format-padding = 0.5
format-foreground = ${colors.red}
interval = 60

[module/xwindow]
type = internal/xwindow
label = [ %title:0:30:...% ]
label-empty = [ makepkg not war ]
format-foreground = ${colors.background}
format-background = ${colors.blue}
format-padding = 1

[module/keyboard]
type = internal/xkeyboard

; List of indicators to ignore
blacklist-0 = num lock
blacklist-1 = scroll lock

; Available tags:
;   <label-layout> (default)
;   <label-indicator> (default)
format = <label-layout> <label-indicator>
format-spacing = 0

; Available tokens:
;   %layout%
;   %name%
;   %number%
; Default: %layout%
label-layout = %name%
label-layout-padding = 2
label-layout-background = #bc99ed
label-layout-foreground = #000

; Available tokens:
;   %name%
; Default: %name%
label-indicator = %name%
label-indicator-padding = 2
label-indicator-background = #8139e8

[settings]
screenchange-reload = true

[global/wm]
margin-top = 0
margin-bottom = 0
